img {
    max-width: 100%;
}
body, html {
    height: 100%;
  }
.parallax {
    /* The image used */
    background-image: url("images/global.png");
  
    /* Set a specific height */
    height: 70%;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#logo{
	position:fixed;
	top:0;
	left:0;
}
#logo a:active{
    background-color: rgb(2, 14, 56);
}
header {
    margin-left: 100px;
    padding-top: 100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 4.5em;
    color: rgb(30 215 96);
    text-align: center;
    margin: auto;
}

.topRight {
    position: fixed;
    top: 8px;
    right: 16px;
}
.topRight ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.topRight li {
    display: inline-block;
}

.topRight li a{
    text-decoration: none;
    padding: 5px 7px;
    text-align: center;
    display: inline-block;
    width: 100%;
    border-radius: 30px;
}

.topRight a:hover {
    background-color: red;
}  
.topRight a:link{
    background-color: rgb(30 215 96); 
}  
.navbar {
    height: 500px;
    width: 18;
    position: fixed;
    z-index: 15;
    top: 35%;
    left: 150px;
    margin: -100px 0 0 -150px;
    background-color: rgb(2, 14, 56);
    overflow-x: hidden;
    padding-top: 80px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 30px;
    box-sizing: border-box;
  }

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li a {
    padding: 5px 7px;
    margin-top: 20px;
    text-align: center;
    text-decoration: none;
    display: block;
    width: 100%;
    display: inline-block;
    border-radius: 30px;
}
nav li a:link, a:visited {
    background-color: rgb(30 215 96); 
    color: #111;
}
  
nav ul li a:hover, a:active {
    background-color: white
}
h2 {
    color: rgb(216, 77, 77);
}
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #111;
    margin: auto;
}
.row {
    margin-left: 200px; /* Same as the width of the sidenav */
}
.column {
    float: left;
    width: 31%;
    margin: 5px 10px;
  }
  
  /* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
.text {
    color: rgba(255, 255, 255, 0.63);
    font-size: 16px;
}
.myName {
    color: rgba(255, 255, 255, 0.63);
}
footer span {
    color: green;
}
.text a {
    color: rgb(216, 77, 77);
}
